.navbar-nav{
    margin-left: auto;
}

.navbar-costum{
    background-color: rgb(67, 67, 67);
}

.dropdown-menu-center {
    right: auto;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.kategorie_text:hover{
    color: gray;
    
}

.kategorie_text{
    color: lightgray;
    text-decoration: none;
}

.unterkategorie_text:hover{
    color: gray;
    
}

.unterkategorie_text{
    color: lightgray;
    text-decoration: none;
}

.card-img-top{
height: 200px;

}